@import "primeicons/primeicons.css";

.pi {
  display: inline-block !important;
  font-style: normal !important;
  line-height: 1;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
